<template name="navBarWrap">
	<view class="navBarWrap">
		<scroll-view class="navList" scroll-x="true">	  	
			<block wx:for="{{navData}}" wx:key="{{index}}">
				<text bindtap="changeNav" class="navTxt {{curNav == index ? 'navTxtOn' : ''}}" data-index="{{index}}" data-type="{{item.type}}" data-id="{{item.id}}">{{item.name}}</text>
			</block>	  	
		</scroll-view>
		<view class="choseNav">
	  		<text hidden="{{addnav}}" class="f18">+</text>
	  		<text hidden="{{!addnav}}">确定</text>
	  	</view>
	</view>
	<view class="choseNavListWrap" hidden="true">
		<view class="choseNavList">
			<block wx:for="{{navData}}" wx:key="{{index}}">
				<text bindtap="choseNav" class="choseNavTxt {{choseNav+index == index ? 'curChoseNav' : ''}}" data-index="{{index}}" data-type="{{item.type}}" data-id="{{item.id}}">{{item.name}}{{choseNav}}</text>
			</block>
		</view>
	</view>
</template>